@use "@styles/variables.scss" as *;

.myBtn {
  padding: $space-s $space-l;
  min-height: 52px;
  display: flex;
  gap: $space-xxs;
  justify-content: center;
  align-items: center;
  color: $text-button;
  background-color: $button-primary-bg;
  border: none;
  cursor: pointer;

  &__wrapper {
    width: min-content;
    height: min-content;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
  }

  &__loader {
    fill: $text-button;
  }

  &:hover {
    background-color: $button-primary-bg-hover;
  }

  &:active {
    background-color: $button-primary-bg-active;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $button-primary-bg-disabled;
  }

  &--disabled:hover {
    background-color: $button-primary-bg-disabled;
  }

  &--onelined {
    white-space: nowrap;
  }
}
