$backgroundClr: #ff4949;
$text-secondary: #afadb5;
$text-primary: #000000;
$text-accent: #518581;
$input-placeholder: #afadb5;
$input-primary: #000000;
$input-background: #ffffff;
$button-primary-bg: #518581;
$button-primary-bg-hover: #86aaa7;
$button-primary-bg-disabled: #d9d9d9;
$button-primary-bg-active: #487773;
$checkbox-border-primary: #afadb5;
$checkbox-border-disabled: #00000033;
$checkbox-border-active: #518581;
$text-button: #ffffff;
$card-bg: #ffffff;
$main-bg: #fafafa;
$navbar-bg: #ffffff;
$navbar-border: #f3f3f3;
$option-background: #ffffff;
$card-image-bg: #ffffff;
$paginator-primary: #000000;
$paginator-bg-default: #fafafa;
$button-cart-primary-border: #afadb5;
$button-cart-hover-bg: #dddddd;
$button-cart-primary-bg: #ffffff;
$button-navbar-right-num-bg: rgb(255, 62, 62);
$button-navbar-right-num-color: #ffffff;
$rating-active: #487773;
$rating-inactive: #afadb5;

$space-xxs: 8px;
$space-xs: 12px;
$space-s: 14px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
